@charset "utf-8";
/* CSS Document */


body{
	background-image:url("../images/elvis-presley-1482026_1920.jpg");
	background-size: cover;
	background-position: center;
}

.login-page{
	height: auto;
	width:360px;
	padding:10% 0 0;
	margin: auto;
}

.form{
	position: relative;
	z-index: 1;
	background: #000;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align:center;
}

.form input{
	outline:none;
	width:100%;
	border:none;
	margin: 20 0 15px;
	padding:15px;
	box-sizing:border-box;
	font-size: 14px;
}

.btn{
	text-transform: uppercase;
	outline: 0;
	background:orange;
	width:100%;
	border: none;
	padding:15px;
	color:#FFFFFF;
	font-size: 14px;
	cursor:pointer;
}

.btn:hover,.btn:active{
	background: green;
	border: none;
}

.form .message{
	margin: 15px 0 0;
	color: #FFFFFF;
	font-size: 12px;
}

.form .message a{
	color: orange;
	text-decoration:none;
}